
html, body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 0.9em; */
  color: hsl(0, 0%, 2%);
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}
.h1 {
  align: center;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #007a86cc;
    border-color: #007a86cc;
}

.form-control {
  background-color: #dce0e0cc;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.sorting_asc {
  color: #000000;
}